.navbar {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 15px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.aside-1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 5px;
  margin-right: 5px;
}

.nav-header{
  font-size: 20px;
  margin-right: 35%;
  margin-left: 20px;
}





        .state
        {
        	fill:'#0fffff';
        	stroke:;
        	stroke-width:1;
        	stroke-opacity:1;
        }
        .territory
        {
        	opacity:0;
        	fill:#E0E0E0;
        	stroke:#646464;
        	stroke-width:1;
        	stroke-opacity:1;
        }
        .territoryborder
        {
        	opacity:0;
        	fill:none;
        	stroke:#A9A9A9;
        	stroke-width:2;
        }
        .border
        {
        	opacity:1;
        	fill:none;
        	stroke:#A9A9A9;
        	stroke-width:2;
        }
        .circle
        {
           opacity:1;
           fill:#E0E0E0;
           stroke:#646464;
           stroke-width:1;
        }
